body {
  font-family: $source_sans_pro;
  color: $font_color;
  line-height: 1.15em;
  -webkit-tap-highlight-color: $black;
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $f15;
  font-weight: 600;
}

h1 {
  font-size: $f23;
  line-height: 1.05em;
  letter-spacing: -.025rem;
  font-weight: 400;
}

h2 {
  font-size: $f18;
  line-height: $f18;
  letter-spacing: -.015625rem;
  font-family: "Source Sans Pro", sans-serif;
}

h3 {
  font-size: $f15;
  line-height: 1.8em;
  letter-spacing: -.015625rem;
  font-family: "Source Sans Pro", sans-serif;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-top: 0;
  margin-bottom: $f15;
  font-size: $f15;
}

p {
  line-height: $f24;

  &.condensed {
    line-height: $f18;
  }

  &.small {
    font-size: $f13;
    line-height: $f18;
  }
}

em {
  font-style: italic;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0px;
}

a {
  color: $link_color;
  text-decoration: none;
}
