@import 'variables';
@import 'fonts';
@import 'icons';

@import 'typography';
@import 'buttons';
@import 'transitions';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: anti-aliased;
}

body {
  background-color: $white;
  margin: 0;
}

#app {
  max-width: 990px;
  margin: 0 auto;
}
