@import 'variables';
@import 'fonts';
@import 'icons';

@import 'typography';
@import 'buttons';
@import 'transitions';

@import 'ar';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: anti-aliased;
}

body {
  background-color: $white;
  margin: 0;
}
