@import './normalize.css';
@import './variables.scss';
@import './fonts.scss';
@import './icons.scss';

@import './typography.scss';
@import './buttons.scss';
@import './transitions.scss';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: anti-aliased;
}

html, body {
  background-color: $white;
  margin: auto;
  max-width: 600px;
}