.appear-after-loading-enter-active, .appear-after-loading-leave-active {
  transition: all 350ms ease;
}
.appear-after-loading-enter {
  opacity: 0;
  transform: translateY(20px);
}
.appear-after-loading-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}