i,.UI-icon { // TODO : bug in global classes
  font-style: normal;
  font-family: "UI essential";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-size: 16px;
}

.UI-info:before {content:"\2139";}
.UI-twitter:before {content:"\f099";}
.UI-close-alt:before {content:"\2715";}
.UI-slide-left:before {content: "\f104"}
.UI-slide-right:before {content: "\f105"}
.UI-mosaic:before {content:"\e9a0";}
.UI-list:before {content:"\e9a1";}
.UI-search:before {content:"\f002";}
.UI-left-search:before {content:"\1F50D";}
.UI-loading:before {content:"\eb82";}
.UI-location:before {content:"\f041";}
.complete:before {content:"\2713";}
.progress:before {content:"\f110";}
.personality:before {content:"\f257";}
.waiting:before {content:"\f266";}
.UI-warning:before {content:"\26ae";}
.UI-add:before {content:"\f055";}
.UI-user-male:before {content:"\f14e";}
.UI-user-female:before {content:"\f14f";}
.UI-send:before {content:"\f113";}
.UI-super-checked:before {content:"\1F5F9";}
.UI-duel:before {content:"\26a1";}
.UI-tri:before {content:"\25B2";}
.UI-quad:before {content:"\25C6";}
.UI-penta:before {content:"\2BC2";}
.UI-hexa:before {content:"\2B22";}
.UI-hepta:before {content:"\2BD2";}
.UI-octo:before {content:"\2BC3";}
.UI-eliminated:before, .UI-eliminatedT1:before {content:"\2421";}
.UI-elected:before {content:"\1F5F9";}
.UI-majority:before {content:"\1F50F";}
.UI-collapse:before {content:"\25b4";}
.UI-waiting-result:before {content:"\25CB";}
.UI-navigate-left:before {content:"\25c1";}
.UI-navigate-right:before {content:"\25b7";}